<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="../../assets/libs/bootstrap/js/bootstrap.min.js" defer></script>
    <!-- Normalize -->
    <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
    <!-- Material Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="../../assets/styles/css/main.css" />
    <script src="../../assets/scripts/main.js" defer></script>
</head>

<body>
    <header>
        <nav class="row justify-content-xl-between justify-content-lg-between justify-content-center align-items-center">
            <button class="material-icons menu d-xl-none d-l-none d-md-block d-sm-block">menu</button>
            <a class="logo" href=""></a>
            <ul class="row">
                <li><a href="" class="active">Home</a></li>
                <li><a href="">Memberships</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">The&nbsp;company</a></li>
                <li><a href="">Contact&nbsp;us</a></li>
            </ul>
            <div class="col-2">
                <div class="row justify-content-between">
                    <button class="shopping-cart cart material-icons">shopping_cart</button>
                    <a class="button button--base-sm button--primary-light login" href="">Login</a>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>