.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  // display: inline;
  overflow: visible;
  background: transparent;
  font-weight: $bold;

  @include flex-center;

  &--base-lg {
    border: 3px solid;
    padding: $padding-md;
    @include border-round-lg;
  }

  &--base-sm {
    border: 2px solid;
    padding: $padding-sm;
    @include border-round-lg;
  }

  &--primary-light {
    border-color: $primary-light;
    color: $primary-light;

    &.button--filled {
      background-color: $primary-light;
      color: $text-light;
    }
  }

  &--primary-dark {
    border-color: $primary-dark;
    color: $primary-dark;

    &.button--filled {
      background-color: $primary-dark;
      color: $text-light;
    }
  }

  &--secondary {
    border-color: $secondary;
    color: $secondary;

    &.button--filled {
      background-color: $secondary;
      color: $text-light;
    }
  }
  &--disabled {
    border-color: $greyed-out;
    color: $greyed-out;

    &.button--filled {
      background-color: $greyed-out;
      color: $text-light;
    }
  }
}
