.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;

  overflow: visible;
  background: transparent;
  font-weight: $bold;

  cursor: pointer;
  @include flex-center;

  &--base-lg {
    border: 3px solid;
    padding: $button-padding-lg;
    @include border-round-lg;
  }

  &--base-sm {
    border: 2px solid;
    padding: $button-padding-sm;
    @include border-round-lg;
  }

  &--primary-light {
    border-color: $primary-light;
    color: $primary-light;

    &:hover {
      background-color: $primary-light;
      color: $text-light;
    }

    &.button--filled {
      background-color: $primary-light;
      color: $text-light;

      &:hover {
        background-color: darken($primary-light, 7);
      }
    }
  }

  &--primary-dark {
    border-color: $primary-dark;
    color: $primary-dark;

    &.button--filled {
      background-color: $primary-dark;
      color: $text-light;

      &:hover {
        background-color: darken($primary-dark, 7);
      }
    }
  }

  &--secondary {
    border-color: $secondary;
    color: $secondary;

    &.button--filled {
      background-color: $secondary;
      color: $text-light;

      &:hover {
        background-color: darken($secondary, 7);
      }
    }
  }
  &--disabled {
    border-color: $greyed-out;
    color: $greyed-out-dark;

    &.button--filled {
      background-color: $greyed-out;
      // color: $text-light;
    }
  }
}
