.card {
  width: 100%;
  background-color: $white;
  @include border-round-lg;
  @include drop-shadow-light-sm;
  overflow: hidden;
  margin-bottom: 4rem;

  &__image {
    display: none;
    height: 300px;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &--image {
    .card__image {
      display: inline-block;
      max-height: 200px;
    }
  }

  &__content {
    padding: $padding-md;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.card__link {
    text-decoration: underline;
  }

  &__description {
    // margin: 3rem 0;
  }

  &__features {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__price {
    display: none;
    color: $secondary;
    justify-self: left;
  }

  &--price {
    .card__features {
      justify-content: space-between;
    }
    .card__price {
      display: inline-block;
    }
  }

  &__button {
    display: none;
  }

  &--button {
    .card__button {
      display: inline-block;
    }
  }

  &__amount {
    @include drop-shadow-light-sm;
    @include border-round-sm;
    display: flex;
    background-color: $background-dark;
    color: $text-light;

    &--increase,
    &--decrease,
    &--display {
      padding: 1rem;
    }

    &--increase,
    &--decrease {
      cursor: pointer;
    }
  }

  &--horizontal {
    display: flex;
    justify-content: space-between;
    align-items: top;

    .card__image {
      // display: flex;
      overflow: visible;
      // height: 300px;
      // width: 50%;
      // max-height: 100%;
      max-width: 50%;
      // position: relative;

      img {
        // width: 100%;
        // max-height: inherit;
        height: auto;
        display: block;
        //   height: 200px;
        object-fit: cover;
        // position: absolute;
        // top: -25%;
      }
    }
  }

  &--membership {
    padding: $padding-md;

    .card__image {
      height: 200px;
    }

    .card__content {
      @include flex-center;
      flex-direction: column;
    }

    .card__title {
      text-transform: uppercase;
    }
  }

  &--badge {
    @include flex-center;
    flex-direction: column;

    background-color: $secondary;
    color: $text-light;
    font-weight: $bold;

    .card__title {
      text-transform: uppercase;
    }
  }
}

.checkout-card {
  padding: $padding-md;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    padding: $padding-y-sm;
    text-transform: uppercase;
    border-top: 1px solid $greyed-out;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__coupon {
    display: flex;
    justify-content: space-between;

    &-input {
      // display: inline-block;
      width: 15rem !important;
    }
  }
}

.service-info-card {
  padding: $padding-md;

  &__title {
    text-transform: capitalize;
  }

  &__price,
  &__time {
    display: flex;
    justify-content: space-between;

    &-label {
      font-size: $p * 1.2;
    }

    &-value {
      color: $secondary;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
