.dropdown {
  width: 100%;
  @include drop-shadow-light-sm;
  @include border-round;

  &__options-container {
    @include list-clear;

    &.hidden {
      display: none;
    }
  }

  &__title {
    padding: 1rem 4rem;
  }

  &__option {
    padding: 1rem 4rem;

    &:hover {
      background-color: $primary-light;
      color: $background-light;
    }

    &:last-of-type {
      border-radius: 0 0 10px 10px;
    }

    &:first-of-type {
      border-top: 1px solid grey;
    }
  }
}
