.dropdown {
  width: 100%;
  background-color: $white;
  cursor: pointer;
  margin-bottom: 3rem;

  @include drop-shadow-light-sm;
  @include border-round-lg;

  &__options-container {
    @include list-clear;

    &.hidden {
      display: none;
    }
  }

  &__title {
    padding: $padding-md;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--dark {
    .dropdown__option:hover {
      background-color: $primary-dark-alt;
      color: $background-light;
    }
  }

  &__option {
    padding: $padding-md;

    &:hover {
      background-color: $primary-light;
      color: $background-light;
    }

    &:last-of-type {
      border-radius: 0 0 10px 10px;
    }

    &:first-of-type {
      border-top: 1px solid $greyed-out;
    }
  }
  &.invalid {
    outline: none;
    border: 1px solid $warning;
  }
}

.text-input {
  &__input {
    width: 100%;
    border: none;
    @include drop-shadow-light-sm;
    @include border-round-lg;
    padding: $padding-sm;
    color: $text-dark;
    margin-bottom: 3rem;

    // &:focus:required:invalid {
    //   outline: none;
    //   border: 1px solid $warning;
    // }

    &:focus {
      outline: none;
      border: 1px solid $primary-light;
    }

    &.invalid {
      outline: none;
      border: 1px solid $warning;
      position: relative;

      // &::after {
      //   content: "!";
      //   color: $warning;
      //   display: inline-block;
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      // }
    }
  }
  &__label {
    font-weight: $bold;
    display: block;
  }

  &__slash {
    font-weight: $bold;
    display: inline;
  }
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: 15px;
  background: $white;
  outline: none;
  cursor: pointer;
  @include drop-shadow-light-sm;
  @include border-circle;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 27px;
    height: 27px;
    @include drop-shadow-light-sm;
    @include border-circle;
    background: $primary-dark-alt;
  }

  &::-moz-range-thumb {
    width: 27px;
    height: 27px;
    @include drop-shadow-light-sm;
    @include border-circle;
    position: absolute;
    background: $primary-dark-alt;
  }

  &::-ms-fill-lower {
    background: $primary-dark;
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }
}

// Radio buttons

.radio {
  &__group {
    display: inline-block;
    margin-bottom: 3rem;
  }

  &__input {
    display: none;

    &:checked ~ .radio__label .radio__button--lg::after {
      opacity: 1;
    }
  }

  &__label {
    cursor: pointer;
    position: relative;
    @include flex-center;
  }

  &__button--lg {
    width: 35px;
    height: 35px;
    display: inline-block;
    @include drop-shadow-light-sm;
    @include border-circle;
    background-color: $white;
    position: relative;
    margin-right: 1rem;

    &::after {
      content: "";
      width: 22px;
      height: 22px;
      background-color: $background-dark;
      @include border-circle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}

// Checkboxes

.checkbox {
  &__input {
    display: none;

    &:checked ~ .checkbox__label .checkbox__button--lg::after {
      opacity: 1;
    }
  }

  &__group {
    display: flex;
    align-items: center;

    padding: $padding-y-sm;
  }

  &__label {
    cursor: pointer;
    position: relative;
    @include flex-center;
  }

  &__button--lg {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: $white;

    @include drop-shadow-light-sm;
    @include border-round-sm;
    position: relative;
    margin-right: 1rem;

    &::after {
      content: "";
      background-image: url(../../../assets/images/svgs/check-24px.svg);
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__button--md {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: $white;

    @include drop-shadow-light-sm;
    @include border-round-sm;
    position: relative;
    margin-right: 1rem;

    &::after {
      content: "";
      background-image: url(../../../assets/images/svgs/check-24px.svg);
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__button--sm {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: $white;

    @include drop-shadow-light-sm;
    @include border-round-sm;
    position: relative;
    margin-right: 1rem;

    &::after {
      content: "";
      background-image: url(../../../assets/images/svgs/check-24px.svg);
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}
