.main-homepage {
  overflow-x: hidden;
  &__banner {
    height: 100vh;
    overflow: hidden;
    position: relative;

    &-video {
      // width: 100%;
      min-height: 100%;
      position: absolute;
      z-index: -1;
    }

    &-container {
      position: relative;
      height: 100vh;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      // @media (min-width: $media-sm) {
      //   clip-path: polygon(0 0, 60% 0, 80% 100%, 0 100%);
      // }

      @media (min-width: $media-md) {
        clip-path: polygon(0 0, 50% 0, 70% 100%, 0 100%);
      }

      @media (min-width: $media-lg) {
        clip-path: polygon(0 0, 40% 0, 60% 100%, 0 100%);
      }

      backdrop-filter: blur(14px) brightness(64%);
      // top: -100%;
      // transform: translateY(50%);
    }

    &-text {
      position: relative;
      //   top: -100%;
      top: 50%;
      // padding-left: 4rem;
      width: 100%;
      transform: translateY(-50%);
      //   height: inherit;

      display: flex;
      flex-direction: column;

      color: $white;

      @media (min-width: $media-md) {
        // width: 70%;
      }
      @media (min-width: $media-lg) {
        // width: 50%;
      }
    }
  }

  &__memberships {
    &__cards {
      overflow-x: auto;
    }
    padding: 4rem 0;
    &-text {
      text-align: center;
    }
  }

  &__company {
    padding: 4rem 0;
    background-image: url(../../images/photos/homepage-company.jpg);
    @include bckg-img;
    padding: 0;
    height: 75vh;

    .container-fluid {
      padding: 0;
      height: 100%;

      div {
        padding: 0;
        height: 100%;
      }
    }

    &-text {
      // padding: $padding-lg;
      backdrop-filter: blur(14px) brightness(64%);
      color: $white;

      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      @media (min-width: $media-md) {
        clip-path: polygon(70% 0, 100% 0, 100% 100%, 50% 100%);
      }

      @media (min-width: $media-lg) {
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
      }

      backdrop-filter: blur(14px) brightness(64%);
      // position: relative;
      // top: 50%;

      // transform: translateY(-50%);
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;

      h2 {
        // width: 25%;
      }
    }
  }

  &__services {
    &__cards {
      overflow-x: auto;
      overflow-y: hidden;
    }
    padding: 4rem 0;
    &-text {
      text-align: center;
    }
  }

  &__signup {
    padding: 4rem 0;
    &-text {
    }
    &-devices {
      background-image: url(../../images/photos/mock-up-devices.png);
      @include bckg-img;
      background-size: contain;
    }
  }

  &__steps {
    padding: 4rem 0;
    text-align: center;
    color: $white;
    background-color: $primary-light;

    &__step div {
      // opacity: 0;

      &.hidden {
        opacity: 0;
      }

      &.showStep {
        animation-name: showStep;
        animation-duration: $slow;
      }
    }

    i {
      font-size: 10rem;
    }
  }

  &__testimonials {
    &__cards {
      overflow-x: auto;
    }
    padding: 4rem 0;
    &-avatar {
      @include bckg-img;
      background-size: contain;
      border-radius: 100%;
      padding: 4rem;
      display: inline-block;
      width: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .gitte {
      background-image: url(../../images/photos/gitte.png);
    }

    .mathias {
      background-image: url(../../images/photos/mathias.png);
    }

    .claus {
      background-image: url(../../images/photos/claus.png);
    }

    &-text {
      padding: $padding-sm;
      .trustpilot {
        @include bckg-img;
        padding: 0.1rem 6.4rem;
        background-image: url(../../images/photos/trustpilot.png);
      }
    }
  }

  &__media {
    &__medias {
      overflow-x: auto;
    }
    padding: 4rem 0;
    background-color: $primary-light;
    color: $white;

    &-text {
      text-align: center;
    }

    &-images {
      * {
        @include bckg-img;
        background-size: contain;
        padding: 2rem;
      }

      .migog {
        background-image: url(../../images/photos/migogaalborg.png);
      }

      .tv2nord {
        background-image: url(../../images/photos/tv2-nord.png);
      }

      .nord24 {
        background-image: url(../../images/photos/24-nord.png);
      }

      .nord {
        background-image: url(../../images/photos/nordjyske.png);
      }

      .aalborgnu {
        background-image: url(../../images/photos/aalborg-nu.png);
      }
    }
  }
}
