.shopping-cart {
  .empty {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url(../../images/svgs/empty-cart.svg);
  }
}
