.filters {
  background: $background-dark;
  color: $text-light;
  padding: $padding-sm;
  // min-height: 90vh;
  min-height: 100vh;
  width: calc(25% - 5vw + 30px);
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(calc(-100% - 10vw));

  @media (min-width: $media-md) {
    // position: relative;
    // transform: translateX(calc(-5vw - 30px));
    top: calc(16px * 1.6 + 8rem);
    position: fixed;
    transform: translateX(0);
  }
}
