.filters {
  background: $background-dark;
  color: $text-light;
  padding: $padding-sm;
  // min-height: 90vh;
  min-height: 100vh;
  width: 100%;
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(calc(-100% - 10vw));

  @media (min-width: $media-md) {
    position: relative;
    transform: translateX(calc(-5vw - 30px));
  }
}
