.main-service {
  .main-service-container{
    max-width: 100%;
  }
  &__info {
    &__image {
      background-image: url(../../images/photos/steering-wheel-wash.jpg);
      @include bckg-img;
      @include drop-shadow-light-sm;
    }
    &__description {

    }
  }

  &__purchase {
    padding: 0;
  }
}

.recommended-services {
  .recommended-services-container{
    max-width: 100%;
  }
  padding: 4rem 0;
  background-color: $primary-light;
  h3 {
    color: white;
  }
}

@media (min-width : $media-sm){

}

@media (min-width : $media-md){
  
}

@media (min-width : $media-lg){
  
}

@media (min-width : $media-xl){
  .main-service {
    padding: $padding-sm;
    &__purchase {
      padding: 0;
    }
  }
  .recommended-services {
    padding: 4rem 0;
  }
}