.nav {
  // padding: $padding-sm;
  @include drop-shadow-light-sm;
  background-color: $white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  font-size: $p * 1.25;

  &__logo-container {
    padding: $padding-md;
  }

  &__logo {
    background-image: $logo;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;

    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__links-container {
    @include list-clear;
    // padding: $padding-md;
    display: flex;
    justify-content: center;
  }

  &__link {
    //   display: contents;
    display: inline-block;

    a {
      color: $text-dark;
      text-decoration: none;
      display: inline-block;
      padding: 4rem 2rem;
      text-align: center;
    }

    &.active {
      border-bottom: $text-dark solid 3px;
    }
  }

  &__buttons {
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
  }

  &__shopping-cart {
    color: $background-dark;
    border: none;
    background-color: transparent;
    padding: $padding-sm;
    font-size: $h1;
    margin-right: 4rem;
  }

  &__login {
    width: 50%;
  }
}
