.main-service{
    padding: $padding-sm;

    &__info{

        &__image{
            background-image: url(../../images/photos/steering-wheel-wash.jpg);
            width: 100%;
            padding-top: 56.25%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__description{

        }
    }
}