<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="../../assets/libs/bootstrap/js/bootstrap.min.js"
      defer
    ></script>
    <!-- Normalize -->
    <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
    <!-- FontAwesome CDN -->
    <script
      src="https://kit.fontawesome.com/0f43a8f1c0.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="../../assets/styles/css/main.css" />
    <script src="../../assets/scripts/main.js" defer></script>
    <script src="../../assets/scripts/shop.js" defer></script>
    <script src="../../assets/scripts/individual-service.js" defer></script>
  </head>

  <body>
    <nav class="nav">
      <div class="container">
        <div class="row">
          <div class="nav__logo-container row col-12 col-lg-3 col-xl-3">
            <a href="index.html" class="nav__logo col"></a>
            <div class="hamburger d-xl-none d-lg-none col">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>

          <div
            class="col-12 col-lg-6 col-xl-6 mt-5 mt-lg-0 hidden"
            id="links-container"
          >
            <ul class="nav__links-container">
              <li class="nav__link"><a href="index.html">Home</a></li>
              <li class="nav__link">
                <a href="memberships.html">Memberships</a>
              </li>
              <li class="nav__link active"><a href="shop.html">Shop</a></li>
              <li class="nav__link">
                <a href="company.html">The&nbsp;company</a>
              </li>
              <li class="nav__link">
                <a href="contact.html">Contact&nbsp;us</a>
              </li>
            </ul>
          </div>

          <div
            class="nav__buttons col-12 col-lg-3 col-xl-3 my-5 my-lg-0 hidden"
            id="buttons-container"
          >
            <button
              class="button button--base-sm button--primary-light button--filled d-lg-none d-xl-none"
            >
              <i
                class="fas fa-shopping-cart nav__shopping-cart nav__shopping-cart--mobile"
              ></i
              >Shopping&nbsp;cart
            </button>
            <a href="shopping_cart.html">
              <i
                class="fas fa-shopping-cart nav__shopping-cart nav__shopping-cart--desktop d-none d-lg-block"
                ><span id="totalCartAmountDot"></span
              ></i>
            </a>
            <button
              class="nav__login button button--base-sm button--primary-light"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <main class="container main-service">
        <div class="main-service-container container">
          <div class="row my-4">
            <div class="col-12">
              <ul class="breadcrumbs--h4">
                <li class="breadcrumbs__item">
                  <a href="shop.html">Shop</a>
                </li>
                <li class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="">Current page</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-between">
            <section
              class="main-service__info col-12 col-sm-8 col-xl-8 mb-4 mb-sm-0"
            >
              <div class="main-service__info__image">
                <img src="" alt="" />
              </div>
              <article class="main-service__info__description">
                <div class="row my-4 d-none d-sm-flex">
                  <div class="col-xl">
                    <div class="main-service__info__description-text">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-xl">
                    <div class="main-service__info__description-text">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-xl">
                    <div class="main-service__info__description-text">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
            <section class="main-service__purchase col-12 col-sm-4 col-xl-3">
              <div class="card service-info-card mb-4">
                <h4 class="service-info-card__title"></h4>

                <div class="service-info-card__price">
                  <p class="service-info-card__price-label">Price:</p>
                  <h4 class="service-info-card__price-value"></h4>
                </div>

                <div class="service-info-card__time">
                  <p class="service-info-card__time-label">Time:</p>
                  <h4 class="service-info-card__time-value"></h4>
                </div>

                <div class="service-info-card__buttons">
                  <button
                    class="service-info-card__button-cart button button--base-sm button--primary-light button--filled"
                  >
                    Add to cart
                    <i class="fas fa-cart-plus"></i>
                  </button>
                  <button
                    class="service-info-card__button-buy button button--base-sm button--secondary"
                  >
                    Buy now
                  </button>
                </div>
              </div>
              <div class="row my-4 d-xl-none d-lg-none d-md-none d-sm-none">
                <div class="col-xl">
                  <div class="main-service__info__description-text">
                    <h3>Vacuum</h3>
                    <p>
                      Have ugly stains from coffee or soda? It may also happen
                      that dirt has been brought after a walk on the beach. This
                      is no problem. The seats will look like new after a good
                      deep cleaning at Central CarWash.
                    </p>
                  </div>
                </div>
                <div class="col-xl">
                  <div class="main-service__info__description-text">
                    <h3>Vacuum</h3>
                    <p>
                      Have ugly stains from coffee or soda? It may also happen
                      that dirt has been brought after a walk on the beach. This
                      is no problem. The seats will look like new after a good
                      deep cleaning at Central CarWash.
                    </p>
                  </div>
                </div>
                <div class="col-xl">
                  <div class="main-service__info__description-text">
                    <h3>Vacuum</h3>
                    <p>
                      Have ugly stains from coffee or soda? It may also happen
                      that dirt has been brought after a walk on the beach. This
                      is no problem. The seats will look like new after a good
                      deep cleaning at Central CarWash.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card card--badge mb-4">
                <h2 class="card__title">33</h2>
                <p class="card__subtitle">Purchases this week</p>
              </div>
              <div class="card card--badge mb-4">
                <h2 class="card__title">168</h2>
                <p class="card__subtitle">Purchases this month</p>
              </div>
            </section>
          </div>
        </div>
      </main>
      <aside class="container-fluid recommended-services pt-4">
        <div class="recommended-services-container container">
          <article>
            <h3>Popular pairings</h3>
            <div
              class="row recommended-services-container__row flex-nowrap flex-lg-wrap flex-xl-wrap"
            >
              <!-- <div class="col-xl-3 col-sm-6 col-12">
                <div
                  class="card shop-item card--image card--button card--description card--price card--clickable"
                >
                  <div class="card__image">
                    <img
                      src="../../assets/images/photos/steering-wheel-wash.jpg"
                      alt=""
                    />
                  </div>
                  <div class="card__content">
                    <div class="card__label">
                      <h4 class="card__title">
                        Card title
                      </h4>
                      <h4>
                        <a href="" class="card__link"
                          ><i class="fas fa-arrow-right" aria-hidden="true"></i
                        ></a>
                      </h4>
                    </div>

                    <p class="card__description">
                      card teext text textcard teext text textcard teext text
                      textcard teext text textcard teext text text
                    </p>

                    <div class="card__features">
                      <h4 class="card__price">175</h4>
                      <button
                        class="card__button button button--base-lg button--primary-light"
                      >
                        Add to cart
                        <i class="fas fa-cart-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </article>
        </div>
      </aside>
    </div>
  </body>
</html>
