<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="../../assets/libs/bootstrap/js/bootstrap.min.js"
      defer
    ></script>
    <!-- Normalize -->
    <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
    <!-- FontAwesome CDN -->
    <script
      src="https://kit.fontawesome.com/0f43a8f1c0.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="../../assets/styles/css/main.css" />
    <script src="../../assets/scripts/main.js" defer></script>
  </head>

  <body>
    <main class="main-service">
        <div class="container">
            <div class="row">
                <section class="main-service__info col-xl-9 col-sm">
                    <div class="main-service__info__image"></div>
                    <article class="main-service__info__description">
                        <div class="row my-4">
                            <div class="col-xl">
                                <div class="main-service__info__description-text">
                                    <h3>Vacuum</h3>
                                    <p>Have ugly stains from coffee or soda? It may also happen that dirt has been
                                        brought
                                        after a walk on the beach. This is no problem. The seats will look like new
                                        after a
                                        good deep cleaning at Central CarWash.</p>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="main-service__info__description-text">
                                    <h3>Vacuum</h3>
                                    <p>Have ugly stains from coffee or soda? It may also happen that dirt has been
                                        brought
                                        after a walk on the beach. This is no problem. The seats will look like new
                                        after a
                                        good deep cleaning at Central CarWash.</p>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="main-service__info__description-text">
                                    <h3>Vacuum</h3>
                                    <p>Have ugly stains from coffee or soda? It may also happen that dirt has been
                                        brought
                                        after a walk on the beach. This is no problem. The seats will look like new
                                        after a
                                        good deep cleaning at Central CarWash.</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="main-service__purchase">
                    <div class="card service-info-card mb-4">
                        <h4 class="service-info-card__title">Service name here</h4>

              <div class="service-info-card__price">
                <p class="service-info-card__price-label">Price:</p>
                <h4 class="service-info-card__price-value">230-,</h4>
              </div>

              <div class="service-info-card__time">
                <p class="service-info-card__time-label">Time:</p>
                <h4 class="service-info-card__time-value">8-24 hr</h4>
              </div>

              <div class="service-info-card__buttons">
                <button
                  class="service-info-card__button button button--base-sm button--primary-light button--filled"
                >
                  Add to cart
                </button>
                <button
                  class="service-info-card__button button button--base-sm button--secondary"
                >
                  Buy now
                </button>
              </div>
            </div>
            <div class="card card--badge mb-4">
              <h2 class="card__title">33</h2>
              <p class="card__subtitle">Purchases this week</p>
            </div>
            <div class="card card--badge mb-4">
              <h2 class="card__title">168</h2>
              <p class="card__subtitle">Purchases this month</p>
            </div>
          </section>
        </div>
      </div>
    </main>
    <aside class="recommended-services">
        <div class="container">
            <article>
                <h3>Popular pairings</h3>
                <div class="row">
                    <div class="col-xl-3 col-sm">
                        <div class="card card--image card--button card--description card--price">
                            <div class="card__image">
                                <img src="../../assets/images/photos/steering-wheel-wash.jpg" alt="">
                            </div>
                            <div class="card__content">
                                <div class="card__label">
                                    <h4 class="card__title">Card title</h4>
                                    <a href="" class="card__link"><i
                                            class="material-icons mi--arrow_forward">arrow_forward</i></a>
                                </div>

                                <p class="card__description">
                                    card teext text textcard teext text textcard teext text textcard
                                    teext text textcard teext text text
                                </p>

                                <div class="card__features">
                                    <h2 class="card__price">175</h2>
                                    <button class="card__button button button--base-lg button--primary-light">
                                        Add to cart
                                        <i
                                            class="material-icons mi--add_shopping_cart icon--right">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm">
                        <div class="card card--image card--button card--description card--price">
                            <div class="card__image">
                                <img src="../../assets/images/photos/steering-wheel-wash.jpg" alt="">
                            </div>
                            <div class="card__content">
                                <div class="card__label">
                                    <h4 class="card__title">Card title</h4>
                                    <a href="" class="card__link"><i
                                            class="material-icons mi--arrow_forward">arrow_forward</i></a>
                                </div>

                                <p class="card__description">
                                    card teext text textcard teext text textcard teext text textcard
                                    teext text textcard teext text text
                                </p>

                                <div class="card__features">
                                    <h2 class="card__price">175</h2>
                                    <button class="card__button button button--base-lg button--primary-light">
                                        Add to cart
                                        <i
                                            class="material-icons mi--add_shopping_cart icon--right">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm">
                        <div class="card card--image card--button card--description card--price">
                            <div class="card__image">
                                <img src="../../assets/images/photos/steering-wheel-wash.jpg" alt="">
                            </div>
                            <div class="card__content">
                                <div class="card__label">
                                    <h4 class="card__title">Card title</h4>
                                    <a href="" class="card__link"><i
                                            class="material-icons mi--arrow_forward">arrow_forward</i></a>
                                </div>

                                <p class="card__description">
                                    card teext text textcard teext text textcard teext text textcard
                                    teext text textcard teext text text
                                </p>

                                <div class="card__features">
                                    <h2 class="card__price">175</h2>
                                    <button class="card__button button button--base-lg button--primary-light">
                                        Add to cart
                                        <i
                                            class="material-icons mi--add_shopping_cart icon--right">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm">
                        <div class="card card--image card--button card--description card--price">
                            <div class="card__image">
                                <img src="../../assets/images/photos/steering-wheel-wash.jpg" alt="">
                            </div>
                            <div class="card__content">
                                <div class="card__label">
                                    <h4 class="card__title">Card title</h4>
                                    <a href="" class="card__link"><i
                                            class="material-icons mi--arrow_forward">arrow_forward</i></a>
                                </div>

                                <p class="card__description">
                                    card teext text textcard teext text textcard teext text textcard
                                    teext text textcard teext text text
                                </p>

                                <div class="card__features">
                                    <h2 class="card__price">175</h2>
                                    <button class="card__button button button--base-lg button--primary-light">
                                        Add to cart
                                        <i
                                            class="material-icons mi--add_shopping_cart icon--right">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </aside>
  </body>
</html>
