<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="../../assets/libs/bootstrap/js/bootstrap.min.js"
      defer
    ></script>
    <!-- Normalize -->
    <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
    <!-- Material Icons CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="../../assets/styles/css/main.css" />
    <script src="../../assets/scripts/main.js" defer></script>
    <script src="../../assets/scripts/forms.js" defer></script>
  </head>

  <body>
    <nav class="nav">
      <div class="container">
        <!-- <button
          class="material-icons menu d-xl-none d-l-none d-md-block d-sm-block"
        >
          menu
        </button> -->
        <div class="row">
          <div class="nav__logo-container col-3">
            <a href="" class="nav__logo"></a>
          </div>

          <div class="col-6">
            <ul class="nav__links-container">
              <li class="nav__link active"><a href="">Home</a></li>
              <li class="nav__link"><a href="">Memberships</a></li>
              <li class="nav__link"><a href="">Shop</a></li>
              <li class="nav__link"><a href="">The&nbsp;company</a></li>
              <li class="nav__link"><a href="">Contact&nbsp;us</a></li>
            </ul>
          </div>

          <div class="nav__buttons col-3">
            <button class="nav__shopping-cart material-icons">
              shopping_cart
            </button>
            <button
              class="nav__login button button--base-sm button--primary-light"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content shop">
      <div class="container">
        <div class="row">
          <aside class="col-3">
            <div class="filters">
              <div class="row align-items-center">
                <div class="col-6">
                  <h4>Filters</h4>
                </div>
                <div class="col-6">
                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxAll"
                      class="checkbox__input"
                    />
                    <label for="checkboxAll" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Select all</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <h6>Filter by service type</h6>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxExterior"
                      class="checkbox__input"
                    />
                    <label for="checkboxExterior" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text"
                        >Exterior cleaning</span
                      >
                    </label>
                  </div>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxInterior"
                      class="checkbox__input"
                    />
                    <label for="checkboxInterior" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text"
                        >Interior cleaning</span
                      >
                    </label>
                  </div>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxBundles"
                      class="checkbox__input"
                    />
                    <label for="checkboxBundles" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Bundles</span>
                    </label>
                  </div>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxMemberships"
                      class="checkbox__input"
                    />
                    <label for="checkboxMemberships" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Memberships</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <h6>Filter by membership</h6>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxBronze"
                      class="checkbox__input"
                    />
                    <label for="checkboxBronze" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Bronze</span>
                    </label>
                  </div>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxSilver"
                      class="checkbox__input"
                    />
                    <label for="checkboxSilver" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Silver</span>
                    </label>
                  </div>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxGold"
                      class="checkbox__input"
                    />
                    <label for="checkboxGold" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Gold</span>
                    </label>
                  </div>

                  <div class="checkbox__group">
                    <input
                      type="checkbox"
                      name=""
                      id="checkboxPlatinum"
                      class="checkbox__input"
                    />
                    <label for="checkboxPlatinum" class="checkbox__label">
                      <span class="checkbox__button--lg"></span>
                      <span class="checkbox__button-text">Platinum</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-12">
                  <h6>Filter by price</h6>
                  <div class="slider__label">
                    <p>300DKK</p>
                    <p>1200DKK</p>
                  </div>

                  <input
                    type="range"
                    value="1200"
                    min="300"
                    max="1200"
                    name=""
                    class="slider"
                  />
                </div>
              </div>
            </div>
          </aside>
          <main class="col-9">
            <div class="row">
              <div class="col-4">
                <div
                  class="card card--image card--button card--description card--price"
                >
                  <div class="card__image">
                    <img
                      src="../../assets/images/photos/steering-wheel-wash.jpg"
                      alt=""
                    />
                  </div>
                  <div class="card__content">
                    <div class="card__label">
                      <h4 class="card__title">Card title</h4>
                      <a href="" class="card__link"
                        ><i class="material-icons mi--arrow_forward"
                          >arrow_forward</i
                        ></a
                      >
                    </div>

                    <p class="card__description">
                      card teext text textcard teext text textcard teext text
                      textcard teext text textcard teext text text
                    </p>

                    <div class="card__features">
                      <h2 class="card__price">175</h2>
                      <button
                        class="card__button button button--base-sm button--primary-light"
                      >
                        Add to cart
                        <i
                          class="material-icons mi--add_shopping_cart icon--right"
                          >add_shopping_cart</i
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="card card--image card--button card--description card--price"
                >
                  <div class="card__image">
                    <img
                      src="../../assets/images/photos/steering-wheel-wash.jpg"
                      alt=""
                    />
                  </div>
                  <div class="card__content">
                    <div class="card__label">
                      <h4 class="card__title">Card title</h4>
                      <a href="" class="card__link"
                        ><i class="material-icons mi--arrow_forward"
                          >arrow_forward</i
                        ></a
                      >
                    </div>

                    <p class="card__description">
                      card teext text textcard teext text textcard teext text
                      textcard teext text textcard teext text text
                    </p>

                    <div class="card__features">
                      <h2 class="card__price">175</h2>
                      <button
                        class="card__button button button--base-sm button--primary-light"
                      >
                        Add to cart
                        <i
                          class="material-icons mi--add_shopping_cart icon--right"
                          >add_shopping_cart</i
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="card card--image card--button card--description card--price"
                >
                  <div class="card__image">
                    <img
                      src="../../assets/images/photos/steering-wheel-wash.jpg"
                      alt=""
                    />
                  </div>
                  <div class="card__content">
                    <div class="card__label">
                      <h4 class="card__title">Card title</h4>
                      <a href="" class="card__link"
                        ><i class="material-icons mi--arrow_forward"
                          >arrow_forward</i
                        ></a
                      >
                    </div>

                    <p class="card__description">
                      card teext text textcard teext text textcard teext text
                      textcard teext text textcard teext text text
                    </p>

                    <div class="card__features">
                      <h4 class="card__price">175</h4>
                      <button
                        class="card__button button button--base-sm button--primary-light"
                      >
                        Add to cart
                        <i
                          class="material-icons mi--add_shopping_cart icon--right"
                          >add_shopping_cart</i
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
