@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: #133657;
  background: #f9f9f9;
  font-size: 1.6rem;
}

.row {
  margin: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

h6 {
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 2.8rem;
  font-weight: 700;
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--base-lg {
  border: 3px solid;
  padding: 2rem 4rem;
  border-radius: 10px;
}
.button--base-sm {
  border: 2px solid;
  padding: 2rem 4rem;
  border-radius: 10px;
}
.button--primary-light {
  border-color: #133657;
  color: #133657;
}
.button--primary-light.button--filled {
  background-color: #133657;
  color: #f9f9f9;
}
.button--primary-dark {
  border-color: #55beee;
  color: #55beee;
}
.button--primary-dark.button--filled {
  background-color: #55beee;
  color: #f9f9f9;
}
.button--secondary {
  border-color: #66bf6c;
  color: #66bf6c;
}
.button--secondary.button--filled {
  background-color: #66bf6c;
  color: #f9f9f9;
}
.button--disabled {
  border-color: #999999;
  color: #999999;
}
.button--disabled.button--filled {
  background-color: #999999;
  color: #f9f9f9;
}

.card, .badge-card, .membership-card, .checkout-card, .shop-card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card__image, .shop-card__image {
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.card__image img, .shop-card__image img {
  width: 100%;
  object-fit: cover;
}
.card__content, .shop-card__content {
  padding: 2rem 4rem;
}
.card__label, .checkout-card__label, .shop-card__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card a.card__link, .badge-card a.card__link, .membership-card a.card__link, .checkout-card a.card__link, .shop-card a.card__link {
  text-decoration: underline;
}

.shop-card__features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-card__price {
  color: #66bf6c;
}

.checkout-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-card__image {
  display: flex;
  overflow: hidden;
  max-height: 100%;
  max-width: 50%;
}
.checkout-card__image img {
  width: 100%;
  max-height: inherit;
  object-fit: cover;
}
.checkout-card__content {
  padding: 2rem 4rem;
}
.checkout-card__features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-card__price {
  color: #66bf6c;
}
.checkout-card__amount {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  background-color: #133657;
  color: #f9f9f9;
}
.checkout-card__amount--increase, .checkout-card__amount--decrease, .checkout-card__amount--display {
  padding: 1rem;
}

.membership-card {
  padding: 2rem 4rem;
}
.membership-card__image {
  height: 200px;
}
.membership-card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.membership-card__title {
  text-transform: uppercase;
}

.badge-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #66bf6c;
  color: #f9f9f9;
  font-weight: 700;
}
.badge-card__title {
  text-transform: uppercase;
}

.date-picker {
  position: relative;
  width: 100%;
  max-width: 380px;
  height: 60px;
  background-color: #fff;
  margin: 30px auto;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  user-select: none;
}
.date-picker .selected-date {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-picker .dates {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.date-picker .dates.active {
  display: block;
}
.date-picker .dates .month {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #133657;
  color: #f9f9f9;
  font-weight: 700;
}
.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  cursor: pointer;
}
.date-picker .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: auto;
  padding: 2rem 4rem;
}
.date-picker .days .day, .date-picker .days .day-week {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}
.date-picker .days .day-week {
  cursor: default;
}
.date-picker .days .day.selected, .date-picker .days .selected.day-week {
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #133657;
  color: #f9f9f9;
}
.date-picker .days .day.unavailable, .date-picker .days .unavailable.day-week {
  color: #999999;
}

.dropdown {
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.dropdown__options-container {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown__options-container.hidden {
  display: none;
}
.dropdown__title {
  padding: 2rem 4rem;
  position: relative;
}
.dropdown__title .mi--chevron {
  position: absolute;
  right: 2rem;
  top: 1.3rem;
  font-size: 200%;
}
.dropdown__title .mi--chevron.expanded {
  transform: rotate(180deg);
}
.dropdown.dark .dropdown__option:hover {
  background-color: #0d99c2;
  color: #f9f9f9;
}
.dropdown__option {
  padding: 2rem 4rem;
}
.dropdown__option:hover {
  background-color: #133657;
  color: #f9f9f9;
}
.dropdown__option:last-of-type {
  border-radius: 0 0 10px 10px;
}
.dropdown__option:first-of-type {
  border-top: 1px solid #999999;
}

.text-input__input {
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #133657;
}
.text-input__input:invalid {
  outline: none;
  border: 1px solid #d14444;
}
.text-input__input:focus {
  outline: none;
  border: 1px solid #133657;
}
.text-input__label {
  font-weight: 700;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: 15px;
  background: #ffffff;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  background: #0d99c2;
}
.slider::-moz-range-thumb {
  width: 27px;
  height: 27px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  position: absolute;
  background: #0d99c2;
}
.slider::-ms-fill-lower {
  background: #55beee;
}

.radio__group {
  display: inline-block;
}
.radio__input {
  display: none;
}
.radio__input:checked ~ .radio__label .radio__button--lg::after {
  opacity: 1;
}
.radio__label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio__button--lg {
  width: 35px;
  height: 35px;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  position: relative;
  margin-right: 1rem;
}
.radio__button--lg::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #133657;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked ~ .checkbox__label .checkbox__button--lg::after {
  opacity: 1;
}
.checkbox__group {
  display: inline-block;
}
.checkbox__label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__button--lg {
  width: 35px;
  height: 35px;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  margin-right: 1rem;
}
.checkbox__button--lg::after {
  content: "";
  background-image: url(../../../assets/images/svgs/check-24px.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.icon--right {
  margin-left: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
